.hero {
    height: 350px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.home {
    display: flex;
    justify-content: center;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    height: 350px;
    color: white;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
    width: 75%;
}

.intro h1 {
    margin: 0;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

.product-card img {
    height: 200px;
    width: 248px;
}

.hero-img img {
    width: 120px;
    height: 120px;
    margin-top: 0px;
    margin-right: 105px;
    margin-bottom: 0px;
    margin-left: 50px;
}

.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    width: 100%;
    margin-top: 0px;
    margin-right: 180px;
    margin-bottom: 0px;
    margin-left: 180px;
    background: hsla(161, 100%, 38%, 1);
    background: linear-gradient(180deg, hsla(161, 100%, 38%, 1) 0%, hsla(161, 100%, 46%, 1) 50%, hsla(161, 100%, 38%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(161, 100%, 38%, 1) 0%, hsla(161, 100%, 46%, 1) 50%, hsla(161, 100%, 38%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(161, 100%, 38%, 1) 0%, hsla(161, 100%, 46%, 1) 50%, hsla(161, 100%, 38%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00C385", endColorstr="#00EAA0", GradientType=1 );
}

 h3 {
    font-size: 24px;
    font-weight: 600;
}